@font-face {
  font-family: "Maison-Neue";
  src: url("./fonts/FontsFree-Net-Maison-Neue-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Maison-Neue";
  src: url("./fonts/FontsFree-Net-Maison-Neue-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*GENERAL*/
* {
  font-family: "Maison-Neue", sans-serif;
  box-sizing: border-box;
}

/*-------------------*/
/*-------LOADER-------*/
/*-------------------*/

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
